@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source '../**/*.jsx';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-brand-primary: #e50914;
    --color-brand-secondary: #ff0000;
    --color-bg-dark: #080808;
    --color-bg-card: #141414;
}

@layer base {
  body {
    @apply bg-bg-dark text-white font-sans antialiased;
  }
}

